# Archivos y carpetas de PyInstaller
# ¡Muy importante para no subir archivos binarios grandes!
/build/
/dist/
*.spec

# Archivos de caché y compilación de Python
__pycache__/
*.pyc
.ipynb_checkpoints

# Entornos virtuales
venv/
.venv/

# Otros archivos de logs
*.log
